@import "settings";
@import "asciidoc";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: linear-gradient(to top, #415061, #1b1d20);

  .logo {
    display: block;
    margin: 0 auto;
    padding: 0.6em 0 0.4em 0;
    width: 10em;
  }
}

.top-bar {
  padding: 0.3em 1.5em 0.4em 1.5em;
  border-top: 1px solid rgba(#fff, 0.2);
  text-align: right;
  font-size: 0.85em;
}

footer {
  padding: 1em 0;
  background-color: #1b1d20;
  text-align: center;
  font-size: 0.85em;
  font-weight: 500;
}

header, footer {
  color: rgba(#fff, 0.8);

  a, a:visited {
    color: rgba(#fff, 0.8);
  }
  a:hover, a:active {
    color: white;
  }
}

h1 {
  margin-bottom: 1em;
}

.main-content {
  padding: 0 0.8em;
  max-width: 760px;
  margin: 3em auto 1em auto;
  flex: 1;
}


// Hacks from https://github.com/asciidoctor/asciidoctor-stylesheet-factory/blob/master/sass/settings/_asciidoctor.scss

dt, th.tableblock, td.content, div.footnote {
  // NOTE text-rendering is already set for p.
  text-rendering: optimizeLegibility;
}

// NOTE include blockquote for when it doesn't have a nested p.
p, blockquote, dt, td.content, span.alt {
  font-size: 1.0625rem;
}

p {
  margin-bottom: 1.25rem;
}

// Restore font size in sidebar block and regular table cells.
.sidebarblock p, .sidebarblock dt, .sidebarblock td.content, p.tableblock {
  font-size: 1em;
}

@import "print";
