<a class="logo" href="https://www.bigclown.com/">
  <%= image_tag 'bigclown-logo.png', alt: 'BigClown - Open-Source Electronics' %>
</a>
<div class="top-bar">
  <a href="<%= github_edit_link %>" rel="external" title="Edit on GitHub">
    <%= use_icon 'pencil' %>
    <span class="icon-label">Improve this page</span>
  </a>
</div>
