<a class="logo" href="https://www.bigclown.com/">
  <%= image_tag 'bigclown-logo.png', alt: 'BigClown - Open-Source Electronics' %>
</a>
<div class="top-bar">
  <a href="#">
    Placeholder
  </a>
</div>
