<%#
  This file must be literally included in HTML. Unfortunately we can't just
  "use" symbols from external file directly, because it does not work in
  f*cking IE/Edge. JS polyfill svg4everybody would be an overkill for us.
#%>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     version="1.1"
     style="position: absolute; width: 0; height: 0; overflow: hidden;">
  <defs>
    <%# Octicons pencil from https://icomoon.io #%>
    <symbol id="icon-pencil" viewBox="0 0 28 32">
      <title>pencil</title>
      <path d="M22 2l-4 4 6 6 4-4-6-6zM0 24l0.021 6.018 5.979-0.018 16-16-6-6-16 16zM6 28h-4v-4h2v2h2v2z"/>
    </symbol>
  </defs>
</svg>
